{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>{{ title }}</h2>
            <p class="lead">{% trans "Progetto" %}: {{ project.name }}</p>
            
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <h4>{% trans "Parametri generali" %}</h4>
                        <div class="row mb-4">
                            {% for field_name in form.general_fields %}
                                <div class="col-md-4 mb-3">
                                    {{ form|getattr:field_name|as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>
                        
                        <h4>{% trans "Parametri di guasto e riparazione" %}</h4>
                        <div class="row mb-4">
                            {% for field_name in form.failure_fields %}
                                <div class="col-md-6 mb-3">
                                    {{ form|getattr:field_name|as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>
                        
                        <div class="text-end">
                            <a href="{% url 'projects:project_detail' project.id %}" class="btn btn-secondary me-2">
                                {% trans "Annulla" %}
                            </a>
                            <button type="submit" class="btn btn-primary">
                                {% trans "Salva parametri" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}                </div>
                            {% endfor %}
                        </div>
                        
                        <h4>{% trans "Parametri del prestito" %}</h4>
                        <div class="row mb-4">
                            {% for field_name in form.loan_fields %}
                                <div class="col-md-3 mb-3">
                                    {{ form|getattr:field_name|as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>
                        
                        <h4>{% trans "Parametri di mercato" %}</h4>
                        <div class="row mb-4">
                            {% for field_name in form.market_fields %}
                                <div class="col-md-6 mb-3">
                                    {{ form|getattr:field_name|as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>
                        
                        <h4>{% trans "Parametri operativi" %}</h4>
                        <div class="row mb-4">
                            {% for field_name in form.operational_fields %}
                                <div class="col-md-4 mb-3">
                                    {{ form|getattr:field_name|as_crispy_field }}
                